# data
*.tsv
*.csv
*.txt
*.png
*.pkl
*.json
*.pt

# results
results

# pdf
*.pdf
*.odt
*.odt#

# virtualenv
venv
theano

# jupyter
.ipynb_checkpoints

# cache
__pycache__

# vscode
.vscode

# except
!requirements.txt