# data
*.tsv
*.csv
output_1.txt
output_2.txt
result.txt
*.png
*.pkl
*.json
*.pt

# results
results

# pdf
*.pdf
*.odt
*.odt#

# virtualenv
venv
theano

# jupyter
.ipynb_checkpoints

# cache
__pycache__

# vscode
.vscode